#wrap {
    width: 800px;
    border: 1px solid seagreen;
    padding: 10px;
    position: relative;
}
.left {
    width: 65%;
    margin: 10px;
    /* float: left; */
}
header {
    width: 100%;
    height: 100px;
    background: rgb(255, 227, 134);
    position: relative;
}
header>nav {
    width: 40%;
    height: 80px;
    background: rgb(191, 199, 79);
    position: absolute;
    top: 10px;
    left: 10px;
}
section {
    margin: 10px 0;
    height: 400px;
    background: beige;
    position: relative;
    /* z-index 1; */
}
section>#box1 {
    width: 70%;
    height: 185px;
    background: rgb(255, 208, 0);
    position: relative;
    top: 10px;
    left: 144px;
}
section>#box2 {
    width: 80%;
    height: 185px;
    background: rgb(255, 84, 84);
    position: absolute;
    bottom: 10px;
    left: 10px;
}
/* section:first-child {
    width: 40%;
    height: 80px;
    background: antiquewhite;
    position: relative;
    top: 30px;
    right: 30px;
}
section:last-child {
    width: 40%;
    height: 80px;
    background: antiquewhite;
    position: relative;
    bottom: 30px;
    left: 30px;
} */
footer {
    width: 100%;
    height: 100px;
    margin: 10px 0 0 0;
    background: sienna;
}
aside {
    width: 30%;
    height: 94%;
    margin: 20px;
    background: sandybrown;
    position: absolute;
    right: 0;
    top: 0;
}