body {
  height: 100rem;
  background: no-repeat linear-gradient(45deg, rgb(255, 255, 233), rgb(196, 107, 255) 10%, rgb(255, 197, 255) );
}
#wrap {
  width: 800px;
  height: 300px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 30px;
  padding: 15px;
  box-shadow: 10px 10px 25px rgba(183, 95, 255, 0.575);
  background: rgba(255, 255, 255, 0.733);
  display: flex;
}h2 {
  margin: 13px 0 0 15px;
  width: 100px;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  font-size: 20px;
  color: violet;
  font-weight: bold;
}

/* 테이블 표 디자인 */
table {
  /* border: 1px solid saddlebrown; */
  padding: 10px;
  width: 100%;
  font-size: 18px;
}
#table {
  border-radius: 30px;
  border: 1px solid black;
}
table>thead {
  border-bottom: 5px solid saddlebrown;
  font-size: 20px;
}
table > thead:first-child {
  background: rgb(255, 139, 185);
  color: white;
  height: 4rem;
}
table > tbody > tr {
  background: rgb(249, 247, 243);
  text-align: center;
}
tr > td:nth-child(1) {
  width: 70px;
}
tr > td:nth-child(2) {
  width: 100px;
}

/* new tag */
tbody .new {
  width: 50px;
  padding: 5px;
  font-weight: bold;
  color: antiquewhite;
  border-radius: 30px;
  background: rgb(255, 139, 185);;
  display: inline-block;
  position: relative;
  right: 15px;
}
